<div class="nav-bar">
     <!-- <span>Lab</span>-->
  <div class="nav-bar__content">
    <ng-container *ngIf="!currentUser">
      <label class="nav_bar__title title">about</label>
      <button mat-stroked-button  (click)="openLoginForm()">Login</button>
    </ng-container>
    <ng-container *ngIf="currentUser">
      <label class="nav_bar__title title">about</label>
      <label class="nav_bar__title title">{{currentUser.username }}</label>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </ng-container>
  </div>

</div>

