<div *ngIf="poll">

  <form [formGroup]="pollForm">
    <input type="text" formControlName="pollname">
    <mat-tab-group [selectedIndex]="isSelected.value" (selectedIndexChange)="isSelected.setValue($event)" animationDuration="0ms">
      <mat-tab *ngFor="let tab of tabs; let t=index" [label]="tab">
    <label>

      <div >questions {{poll.questions.length}}</div>

    </label>
    <div formArrayName="questions">
      <div *ngFor="let q of getQuestions(pollForm); let i = index">
        <div *ngIf="isSelected.value==pollForm.get(['questions',i,'page']).value">
          <div [formGroupName]="i">
            <span *ngIf="isNumberQuestions==true">{{i + 1}}</span> question <input type="text" formControlName="name">
            <span *ngIf="isRequiredStar && pollForm.get(['questions', i, 'mandatory']).value==true">*</span>

                  <div formArrayName="answers">
                    <div *ngFor="let a of getAnswers(q); let j = index">
                      <div [formGroupName]="j">
                        <label *ngIf="pollForm.get(['questions', i, 'type']).value=='radio'">
                          <input type="radio" value="true" formControlName="right" name="right">   <input type="text" formControlName="name">
                          <br>
                        </label>
                        <label *ngIf="pollForm.get('questions').value[i].type=='checkbox'">
                           <input type="checkbox" value="true" formControlName="right" > <input type="text" formControlName="name">
                        </label>

                        <!--  <div *ngIf="clickEdit && !isTextQuestion">
                            <input [type]="isRadio?'radio':'checkbox'" value="true" formControlName="right"> <input type="text" formControlName="name" value="answer {{j}}">
                          </div>-->
                        <div *ngIf="pollForm.get('questions').value[i].type=='text'">
                          <angular-editor id="editor1" formControlName="right" [config]="editorConfig"></angular-editor>
                        </div>
                        <div *ngIf="pollForm.get('questions').value[i].type=='slider'">
                          <label>{{value}}</label>
                          <mat-slider [max]="max" [min]="min" [thumbLabel]="thumbLabel" [(ngModel)]="value" formControlName="right" ></mat-slider>
                        </div>
                        <div *ngIf="pollForm.get('questions').value[i].type=='star'">
                          <star-rating-comp [starType]="'icon'" [step]="1" [raiting]="2" ngDefaultControl  formControlName="right"></star-rating-comp>
                          <star-rating value="0" [totalstars]="5" checkedcolor="orange" uncheckedcolor="yellow" size="24px" readonly="false"  (rate)="onRate($event, i)" ngDefaultControl formControlName="name"></star-rating>
                        </div>
                        <!--<div *ngIf="pollForm.get('questions').value[i].type=='file'">
                          <input type="file"  (change)="onFileChange($event, i)">
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>

          <br>
          <br>




    <br>

    <button (click)="saveResults()">save poll</button>


    <!--<div *ngIf="isIndicator==true">
      <mat-progress-bar   mode="determinate" [value]="((currentPage+1)*100)/pages"></mat-progress-bar>
    </div>-->

      </mat-tab>
    </mat-tab-group>
  </form>
</div>
