
  <h1 class="login__title" mat-dialog-title>Login</h1>
  <mat-dialog-content>
    <div class="login__content">
      <form [formGroup]="loginForm"  >
        <mat-form-field>
          <mat-label>  email</mat-label>
          <input class="login__input" matInput type="text" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>  password</mat-label>
          <input matInput type="text" formControlName="password">
        </mat-form-field>

        <button (click)="login()">Log in</button>
        <button (click)="registation()">registration</button>
      </form>
    </div>

  </mat-dialog-content>


