<!--
<form [formGroup]="addPollForm">
  <label>
    poll name
    <input type="text" formControlName="pollname">
  </label>
  <div formArrayName="questions">
    <div *ngFor="let q of getQuestions(addPollForm); let i = index">
      <div [formGroupName]="i">
        <label *ngIf="isRadio">
          question
          <input type="text" formControlName="name">
        </label>
          <div formArrayName="answers">
          <div *ngFor="let a of getAnswers(q); let j = index">
            <div [formGroupName]="j">
              <label *ngIf="clickEdit==false && !isTextQuestion && !isSlideQuestion && !isStarQuestion &&isRadio">
               <input [type]="isRadio?'radio':'checkbox'" value="true" formControlName="right">  answer
              </label>
              <div *ngIf="clickEdit && !isTextQuestion">
                <input [type]="isRadio?'radio':'checkbox'" value="true" formControlName="right"> <input type="text" formControlName="name" value="answer {{j}}">
              </div>
              <div *ngIf="isTextQuestion">
                <angular-editor id="editor1" formControlName="name" [config]="editorConfig"></angular-editor>
              </div>
              <div *ngIf="isSlideQuestion">
                <label>{{value}}</label>
                <mat-slider [max]="max" [min]="min" [thumbLabel]="thumbLabel" [(ngModel)]="value" formControlName="name" ></mat-slider>
              </div>
              <div *ngIf="isStarQuestion">
              &lt;!&ndash;  <star-rating-comp [starType]="'icon'" [step]="0.5" [raiting]="2" ngDefaultControl  formControlName="name"></star-rating-comp>&ndash;&gt;
                <star-rating value="5" [totalstars]="5" checkedcolor="orange" uncheckedcolor="yellow" size="24px" readonly="false"  (rate)="onRate($event)" ngDefaultControl formControlName="name"></star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>


      <button (click)="addAnswer(i)">add answer</button>
      <button (click)="changeQuestion(i)">change</button>
      <br>
      <br>
    </div>

  </div>

  <button (click)="addQuestion()">add question</button>
  <br>
  <button (click)="addCheckBoxQuestion()">add checkbox question</button>
  <br>
  <button (click)="addTextQuestion()">add text question</button>
  <br>
  <button (click)="addSlideQuestion()">add slider question</button>
  <br>
  <button (click)="addStarQuestion()">add star question</button>
  <br>
  <br>
  <button (click)="addNewPoll()">save poll</button>
</form>
-->
<button (click)="addTab()">add tab</button>

    {{isSelected.value}}
<form [formGroup]="addPollForm">
  <mat-tab-group [selectedIndex]="isSelected.value" (selectedIndexChange)="isSelected.setValue($event)" animationDuration="0ms">

    <mat-tab *ngFor="let tab of tabs; let t=index" [label]="tab">
  <label>
    poll name
    <input type="text" formControlName="pollname">
    <div>questions {{getQuestions(addPollForm).length}}</div>
  </label>
  <div formArrayName="questions">
    <div *ngFor="let q of getQuestions(addPollForm); let i = index">
    <div  *ngIf="isSelected.value==addPollForm.get(['questions', i, 'page']).value">
      <div [formGroupName]="i">
        <label *ngIf="addPollForm.get('questions').value[i].type!=''">
         <span *ngIf="isNumberQuestions==true">{{i + 1}}</span> question
      <input type="text" formControlName="name">
        </label>
        <div formArrayName="answers">
          <div *ngFor="let a of getAnswers(q); let j = index">
            <div [formGroupName]="j">
              <label *ngIf="addPollForm.get('questions').value[i].type=='radio'" >
                <input type="radio" value="true" formControlName="right" (change)="selected(i,j)" name="right">  answer
                <br>
              </label>
              <label *ngIf="addPollForm.get('questions').value[i].type=='checkbox'">
                <input type="checkbox" value="true" formControlName="right" >  answer
              </label>

            <!--  <div *ngIf="clickEdit && !isTextQuestion">
                <input [type]="isRadio?'radio':'checkbox'" value="true" formControlName="right"> <input type="text" formControlName="name" value="answer {{j}}">
              </div>-->
              <div *ngIf="addPollForm.get('questions').value[i].type=='text'">
                <angular-editor id="editor1" formControlName="right" [config]="editorConfig"></angular-editor>
              </div>
              <div *ngIf="addPollForm.get('questions').value[i].type=='slider'">
                <label>{{value}}</label>
                <mat-slider [max]="max" [min]="min" [thumbLabel]="thumbLabel" [(ngModel)]="value" formControlName="right" ></mat-slider>
              </div>
              <div *ngIf="addPollForm.get('questions').value[i].type=='star'">
              <star-rating-comp [starType]="'icon'" [step]="1" [raiting]="2" ngDefaultControl  formControlName="right"></star-rating-comp>
                <star-rating value="5" [totalstars]="5" checkedcolor="orange" uncheckedcolor="yellow" size="24px" readonly="false"  (rate)="onRate($event, i)" ngDefaultControl formControlName="name"></star-rating>
              </div>
              <div *ngIf="addPollForm.get('questions').value[i].type=='file'">
               <input type="file"  (change)="onFileChange($event, i)">
              </div>
            </div>
          </div>
        </div>
      </div>


      <button (click)="addAnswer(i)">add answer</button>

      <br>
      <br>
    </div>
    </div>
  </div>


  <br>
  <button (click)="addQuestion()">add question</button>
  <br>
  <button (click)="addCheckBoxQuestion()">add checkbox question</button>
  <br>
  <button (click)="addTextQuestion()">add text question</button>
  <br>
  <button (click)="addSlideQuestion()">add slider question</button>
  <br>
  <button (click)="addStarQuestion()">add star question</button>
  <br>
  <button (click)="addFileQuestion()">add file question</button>
  <br>
  <br>
  <br>


        <br>
       <!-- <label>question numbers
          <input type="checkbox" formControlName="name" value="num_q">
        </label>
        <br>
        <label>page numbers
          <input type="checkbox" formControlName="name" value="num_p">
        </label>
        <br>
        <label> random qustions
          <input type="checkbox" formControlName="name" value="rand_q">
        </label>
        <br>
        <label>require stars
          <input type="checkbox" formControlName="name" value="req_stars">
        </label>
        <br>
        <label> indicator
          <input type="checkbox" formControlName="name" value="indicator">
        </label>
        <br>-->


      <button (click)="addNewPoll()">save poll</button>
      <button [disabled]="tab.length==1" (click)="removeTab(t)">delete tab</button>

  </mat-tab>
</mat-tab-group>
  <div formArrayName="parameters">
    <div *ngFor="let param of getParameters(addPollForm); let p = index">
      <div [formGroupName]="p">
        <label>{{addPollForm.get('parameters').value[p].name}}
          <input type="checkbox" formControlName="status" (change)="checkForParameters($event)" >
        </label>
      </div>
    </div>
  </div>

  <mat-progress-bar mode="determinate" [value]="10"></mat-progress-bar>
</form>






